.A{
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
}
.nav{
	width: 100%;
	height: 30px;
	/*background-color: grey;*/
}
.nav .one a:hover{
	color: #0DAD4F;
}
.one{
	width: 1200px;
	height: 30px;
	/*background-color: white;*/
	margin: 0 auto;
}
.one a{
	font-size: 14px;
	color: #9B9B9B;
	margin-right: 10px;
}
.one1{
	float: left;
	line-height: 30px;
}
#new{
	color: #151515;
}
.one2{
	float: right;
	line-height: 30px;
}
.one span:nth-child(2){
	color: #9B9B9B;
	margin-right: 10px;
}
.header{
	width: 100%;
	height: 80px;
	/*background-color: red;*/
}
.two{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	/*background-color: red;*/
	position: relative;
}
.two1{
	line-height: 80px;
	/*background-color: blue;*/
	float: left;
	position: absolute;
	left: 0px;
}
.two1 img{
	margin-bottom: -10px;
}
.two1 span{
	margin-left: 10px;
	color: #9B9B9B;
}
.two1 select{
	height: 25px;
	margin-left: 10px;
	outline: none;
}
.two2{
	line-height: 80px;
	/*background-color: green;*/
	float: left;
	position: absolute;
	left: 300px;
}
.two2 #two21{
	color: #5DBB85;
	margin-right: 10px;
}
#two22,#two23{
	margin-right: 10px;
	color: black;
}
.two2 img{
	margin-bottom: -2px;
}
.two3{
	line-height: 80px;
	/*background-color: blue;*/
	float: right;
	position: absolute;
	right: 10px;
}
.two3 span{
	color: #39AC98;
	font-size: 14px;
	font-weight: bold;
}
.body1{
	width: 100%;
	height: 450px;
	/*background-color: yellow;*/
	/*border: 1px solid yellow;*/
	/*margin: 0 auto;*/
}
.three{
	width: 1400px;
	height: 450px;
	position: relative;
	margin: 0 auto;
	/*margin-left: 0px;*/
}
.body11{
	width: 250px;
	height: 450px;
	background-color: #1F2930;
	position: relative;
}
.body111{
	width: 250px;
	height: 110px;
	background-color: #263138;
}
.body111 #dingwei{
	margin-left: 20px;
	margin-top: 14px;
}
.body111 span a{
	color: white;
	font-size: 14px;
	margin-left: 5px;
}
.body111 button{
	width: 210px;
	height: 40px;
	background-color: #F15044;
	color: white;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 20px;
	outline: none;
}
.body111 button:hover{
	background-color: rgba(241,80,68,0.8);
}
.body12{
	width: 1060px;
	height: 450px;
	/*background-color: blue;*/
	background-image: url(../images/newhouse/2.jpg);
	background-size: cover
	background-repeat: round;
	background-repeat: no-repeat;
	float: left;
	position: absolute;
	left: 250px;
	top: 0;
}
.body121{
	width: 250px;
	height: 450px;
	background-color: rgba(57,163,106,0.8);
	float: left;
	position: relative;
}
.b1{
	width: 200px;
	height: 40px;
	border: 1px solid white;
	border-radius: 2px;
	position: absolute;
	top: 50px;
	left: 24px;
}
.body121 input{
	background-color: #369D67;
	border: none;
	height: 40px;
	width: 160px;
	outline: none;
}
.body121 img{
	width: 40px;
	height: 40px;
	float: right;
}
.b2{
	width: 200px;
	font-size: 12px;
	position: absolute;
	top: 100px;
	left: 24px;
}
.b2 span:first-child{
	color: #C1DCCB;
}
.b2 a{
	color: white;
}
.b3{
	width: 200px;
	position: absolute;
	top: 200px;
	left: 24px;
}
.b3 p{
	font-size: 12px;
	color: white;
}
.b3 select{
	width: 90px;
	height: 40px;
	background-color: #369D67;
	border: 1px solid white;
	color: white;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 5px;
	outline: none;
}
.body121 button{
	width: 200px;
	height: 40px;
	background-color: white;
	position: absolute;
	bottom: 60px;
	left: 24px;
	border-radius: 5px;
	border: none;
	color: #39AC6A;
	font-size: 16px;
	outline: none;
}
.body121 button:hover{
	background-color: rgba(255,255,255,0.8);
}
.body122{
	float: left;
	margin-left: 70px;
	margin-top: 160px;
}
.body122 p:first-child{
	font-size: 56px;
}
.body122 p:last-child{
	font-size: 26px;
}
.body122 p a{
	color: white;
}
.body2{
	width: 100%;
	height: 1800px;
	/*background-color: green;*/
}
.four{
	width: 1380px;
	height: 1800px;
	margin: 0 auto;
}
.body2 p{
	width: 1340px;
	height: 100px;
	/*border: 1px solid red;*/
	font-weight: bold;
	font-size: 36px;
	line-height: 100px;
	text-align: center;
}
.body21{
	width: 1340px;
	height: 450px;
	/*background-color: pink;*/
}
.body211{
	width: 600px;
	height: 210px;
	background-color: #F7F7F7;
	float: left;
	margin-left: 60px;
}
.body211 img{
	height: 210px;
	width: 210px;
	float: left;
}
.body211 .y1{
	width: 250px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.body21 .y1 a{
	font-size: 20px;
	font-weight: bold;
	color: black; 
}
.body211 button{
	width: 50px;
	height: 24px;
	border: 1px solid #CCCCCC;
	background-color: #F7F7F7;
	color: #999999;
}
.body211 .hr{
	width: 310px;
	height: 2px;
	/*border: 1px solid #F0F0F0;*/
	background-color: #F0F0F0;
	float: left;
	margin-top: 20px;
	margin-left: 24px;
}
.body211 .y2{
	width: 130px;
	height: 90px;
	float: left;
	position: relative;
}
.body211 .y2 img{
	width: 12px;
	height: 16px;
	margin-left: 24px;
	margin-top: 30px;
}
.body211 .y2 #feng{
	margin-left: 10px;
	font-size: 14px;
	color: #878787;
	position: absolute;
	top: 28px;
}
.body211 .y3{
	font-size: 14px;
	width: 130px;
	height: 90px;
	float: left;
	margin-left: -110px;
	margin-top: 60px;

}
.body211 .y3 span:last-child{
	color: red;
}
.body212{
	width: 600px;
	height: 210px;
	background-color: #F7F7F7;
	float: left;
	margin-left: 20px;
}
.body212 img{
	height: 210px;
	width: 210px;
	float: left;
}
.body212 .y1{
	width: 250px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
/*.body212 .y1 span{
	font-size: 20px;
	font-weight: bold;
}*/
.body212 button{
	width: 50px;
	height: 24px;
	border: 1px solid #CCCCCC;
	background-color: #F7F7F7;
	color: #999999;
}
.body212 .hr{
	width: 310px;
	height: 2px;
	/*border: 1px solid #F0F0F0;*/
	background-color: #F0F0F0;
	float: left;
	margin-top: 20px;
	margin-left: 24px;
}
.body212 .y2{
	width: 130px;
	height: 90px;
	float: left;
	position: relative;
}
.body212 .y2 img{
	width: 12px;
	height: 16px;
	margin-left: 24px;
	margin-top: 30px;
}
.body212 .y2 #feng{
	margin-left: 10px;
	font-size: 14px;
	color: #878787;
	position: absolute;
	top: 28px;
}
.body212 .y3{
	font-size: 14px;
	width: 130px;
	height: 90px;
	float: left;
	margin-left: -110px;
	margin-top: 60px;

}
.body212 .y3 span:last-child{
	color: red;
}
.body213{
	width: 600px;
	height: 210px;
	background-color: #F7F7F7;
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}
.body213 img{
	height: 210px;
	width: 210px;
	float: left;
}
.body213 .y1{
	width: 250px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
/*.body213 .y1 span{
	font-size: 20px;
	font-weight: bold;
}*/
.body213 button{
	width: 50px;
	height: 24px;
	border: 1px solid #CCCCCC;
	background-color: #F7F7F7;
	color: #999999;
}
.body213 .hr{
	width: 310px;
	height: 2px;
	/*border: 1px solid #F0F0F0;*/
	background-color: #F0F0F0;
	float: left;
	margin-top: 20px;
	margin-left: 24px;
}
.body213 .y2{
	width: 130px;
	height: 90px;
	float: left;
	position: relative;
}
.body213 .y2 img{
	width: 12px;
	height: 16px;
	margin-left: 24px;
	margin-top: 30px;
}
.body213 .y2 #feng{
	margin-left: 10px;
	font-size: 14px;
	color: #878787;
	position: absolute;
	top: 28px;
}
.body213 .y3{
	font-size: 14px;
	width: 130px;
	height: 90px;
	float: left;
	margin-left: -110px;
	margin-top: 60px;

}
.body213 .y3 span:last-child{
	color: red;
}
.body214{
	width: 600px;
	height: 210px;
	background-color: #F7F7F7;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.body214 img{
	height: 210px;
	width: 210px;
	float: left;
}
.body214 .y1{
	width: 250px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
/*.body214 .y1 span{
	font-size: 20px;
	font-weight: bold;
}*/
.body214 button{
	width: 50px;
	height: 24px;
	border: 1px solid #CCCCCC;
	background-color: #F7F7F7;
	color: #999999;
}
.body214 .hr{
	width: 310px;
	height: 2px;
	/*border: 1px solid #F0F0F0;*/
	background-color: #F0F0F0;
	float: left;
	margin-top: 20px;
	margin-left: 24px;
}
.body214 .y2{
	width: 130px;
	height: 90px;
	float: left;
	position: relative;
}
.body214 .y2 img{
	width: 12px;
	height: 16px;
	margin-left: 24px;
	margin-top: 30px;
}
.body214 .y2 #feng{
	margin-left: 10px;
	font-size: 14px;
	color: #878787;
	position: absolute;
	top: 28px;
}
.body214 .y3{
	font-size: 14px;
	width: 130px;
	height: 90px;
	float: left;
	margin-left: -110px;
	margin-top: 60px;

}
.body214 .y3 span:last-child{
	color: red;
}
.body22 div{
	width: 16px;
	height: 16px;
	background-color: #F0F2F3;
	display: inline-block;
	border-radius: 50%;
}
.body22 div:hover{
	background-color: black;
}
.body22 div:first-child{
	margin-left: 640px;
	margin-top: 20px;
}
.body22 img{
	width: 1220px;
	margin-left: 60px;
	margin-top: 30px;
}
.body23{
	width: 1340px;
	height: 860px;
	/*background-color: pink;*/
}
.body23 .body231{
	margin-left: 80px;
	font-size: 14px;
	font-weight: bold;
}
.body23 .body231 span:nth-child(2){
	font-style: italic;
	color: #1F99F4;
}
.body23 .body232{
	margin-left: 80px;
	margin-top: 10px;
}
.body23 .body232 .bo{
	font-size: 14px;
}
.body23 .body232 .bo span:nth-child(2){
	color: red;
}
.body23 .body232 .bo button{
	margin-left: 188px;
	border: 1px solid #CCCCCC;
	background-color: white;
	color: #A5A5C2;
}
.d1{
	float: left;
}
.d2{
	float: left;
}
.d3{
	float: left;
}
.d4{
	float: left;
	margin-top: 20px;
}
.d5{
	float: left;
	margin-top: 20px;
}
.d6{
	float: left;
	margin-top: 20px;
}
.body2 #check{
	width: 1200px;
	height: 50px;
	border: none;
	border-radius: 3px;
	background-color: #EDEDEE;
	margin-left: 78px;
	margin-top: 30px;
	color: #797C7F;
	font-size: 16px;
	outline: none;
}
.footer{
	width: 100%;
	height: 340px;
}
.five{
	width: 1380px;
	height: 340px;	
	position: relative;
	background-color: #222222;
	margin: 0 auto;
}
.footer .footer1{
	width: 1200px;
	height: 50px;
	/*background-color: pink;*/
	margin-top: 20px;
	margin-left: 76px;
	line-height: 50px;
}
.footer11{
	font-size: 14px;
	float: left;
}
.footer11 a{
	margin-right: 10px;
	color: white;
}
.footer11 span:hover{
	color: white;
}
.footer12{
	font-size: 14px;
	color: #7DCFA0;
	float: right;
	margin-right: 30px;
}
.footer .footer2{
	width: 1200px;
	height: 150px;
	/*background-color: pink;*/
	margin-top: 20px;
	margin-left: 76px;
	position: relative;
}
.footer .footer2 .footer21{
	font-size: 12px;
	width: 738px;
}
.footer21 span{
	margin-right: 10px;
	background-color: black;
	display: inline-block;
	/*width: 90px;*/
	height: 24px;
	line-height: 24px;
	color: #888C8E;
	padding: 3px 5px;
	cursor: pointer;
}
.footer .footer2 .footer21 span:hover{
	background-color: rgba(57,64,67,0.5);
	color: white;
}
/*.footer .footer2 .footer21 a:hover{
	color: white;
}*/
.footer .footer2 .footer22{
	font-size: 12px;
	color: #888C8E;
	width: 790px;
	margin-top: 20px;
}
.footer22 span{
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
}
.footer .footer2 img{
	/*float: right;*/
	position: absolute;
	top: 0px;
	right: 30px;
}
.footer .footer3{
	width: 1200px;
	height: 70px;
	/*background-color: pink;*/
	margin-top: 20px;
	margin-left: 76px;
	font-size: 13px;
	position: relative;
}
.footer32 img{
	/*margin-top: 4px;*/
	position: absolute;
	top: 20px;
}
.footer32 span{
	margin-left: 26px;
	position: absolute;
	top: 20px;
}
.footer .footer4{
	width: 250px;
	height: 40px;
	background-color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	line-height: 40px;
	border: 2px;
	box-shadow:-2px -2px 15px grey;
	cursor: pointer;
}
.footer .footer4 i{
	margin-left: 15px;
	margin-top: 2px;
	display: inline-block;
	color: blue;
	font-size: 26px;
}
.footer .footer4 span{
	font-size: 14px;
	margin-left: 10px;
	vertical-align: top;
}
.footer .hr{
	width: 1180px;
	margin-left: 80px;
	border: 0;
	border: 1px solid #393939
}
.aside{
	width: 40px;
	height:100%;
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: white;
	border: 2px;
	box-shadow: -2px 2px 15px grey;
}
.aside1{
	width: 40px;
	height: 72%;
	margin-top: 180px;
	text-align: center;
}
.aside1 hr{
	width: 30px;
	margin-left: 6px;
}
.asideicon{
	display: block;
	margin-top: 10px;
	width: 42px;
	height: 32px;
	/*padding: 2px 10px;*/
}
.aside1 i{
	font-size: 24px;
}
.aside1 .asideicon:hover{
	background-color: #394043;
	color: white;
}
.aside1 .asideicon2{
	margin-top: 70px;
	cursor: pointer;
}
.aside1 .asideicon2 span{
	font-size:14px;
	display: block;
}